
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    color: red;
    font-size: 3em;
}
.preencha{
color: red;
font-size: 1em;
}

form{
    background-color: blue;
    border-radius: 50%;
}